{:deps {
        org.clojure/clojure         {:mvn/version "1.10.3"}
        }
 :aliases {
           :repl {
                  :extra-deps {
                               cider/cider-nrepl {:mvn/version "0.26.0"}
                               nrepl/nrepl       {:mvn/version "0.8.3"}
                               }
                  :main-opts  [
                               "-m" "nrepl.cmdline"
                               ]
                  }
           }
 
 }